
@{
    ViewData["Title"] = "Index";
}


<main class="main">

    <table class="table">
        
    </table>
</main>



<script src="~/js/reportsJS.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        GetSaleReport();
    });

</script>

