<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="https://code.jquery.com/jquery-3.6.3.min.js" />
    <script src="~/lib/jquery/jquery.min.js"></script>
    <link href="~/css/sweetalert2.min.css" rel="stylesheet" />
    <title>@ViewData["Title"] - Task For Work</title>
</head>

<body>
    @*<div class="container">*@
        <header class="header">
            <ul>
                <li><a asp-action="Index" asp-controller="Items">Məhsullar</a></li>
                <li><a asp-controller="Invoices" asp-action="Index">Satış</a></li>
                <li><a asp-controller="Reports" asp-action="SaleReport">Hesabat</a></li>
            </ul>
        </header>

            @RenderBody();

    @*</div>*@

@*    <script src="~/js/script.js"></script>*@

    <script src="~/js/sweetalert2.min.js"></script>
</body>

</html>